openapi: "3.0.3"
info:
  title: Contentful Management API
  version: "0.1"
servers:
  - url: https://api.contentful.com
components:
  parameters:
    organization_id:
      in: path
      name: organization_id
      required: true
      schema:
        type: string
    space_id:
      in: path
      name: space_id
      required: true
      schema:
        type: string
    environment_id:
      in: path
      name: environment_id
      required: true
      schema:
        type: string
    access_token_id:
      in: path
      name: access_token_id
      required: true
      schema:
        type: string
    api_key_id:
      in: path
      name: api_key_id
      required: true
      schema:
        type: string
    app_definition_id:
      in: path
      name: app_definition_id
      required: true
      schema:
        type: string
    content_type_id:
      in: path
      name: content_type_id
      required: true
      schema:
        type: string
    entry_id:
      in: path
      name: entry_id
      required: true
      schema:
        type: string
    extension_id:
      in: path
      name: extension_id
      required: true
      schema:
        type: string
    preview_api_key_id:
      in: path
      name: preview_api_key_id
      required: true
      schema:
        type: string
    resource_type_id:
      in: path
      name: resource_type_id
      required: true
      schema:
        type: string
    role_id:
      in: path
      name: role_id
      required: true
      schema:
        type: string
    webhook_definition_id:
      in: path
      name: webhook_definition_id
      required: true
      schema:
        type: string
    x-contentful-content-type-optional:
      in: header
      name: X-Contentful-Content-Type
      required: false
      schema:
        type: string
    x-contentful-content-type-required:
      in: header
      name: X-Contentful-Content-Type
      required: true
      schema:
        type: string
    x-contentful-version:
      in: header
      name: X-Contentful-Version
      required: true
      schema:
        type: integer
  schemas:
    ApplicationJSONError:
      anyOf:
        - $ref: "./openapi/schemas/error/error.yml#/Error"
    ApplicationVndContentfulManagementV1JSONError:
      anyOf:
        - $ref: "./openapi/schemas/error/error.yml#/Error"
    BaseSys:
      $ref: "./openapi/schemas/sys/sys.yml"
    BaseSysWithOrganization:
      $ref: "./openapi/schemas/sys/sys-with-organization.yml"
    BaseSysWithAppDefinition:
      $ref: "./openapi/schemas/sys/sys-with-app-definition.yml"
    BaseSysWithResourceProvider:
      $ref: "./openapi/schemas/sys/sys-with-resource-provider.yml"
    BaseSysWithSpace:
      $ref: "./openapi/schemas/sys/sys-with-space.yml"
    BaseSysWithSpaceEnvironment:
      $ref: "./openapi/schemas/sys/sys-with-space-environment.yml"
    BaseSysWithId:
      $ref: "./openapi/schemas/sys/sys-with-id.yml"
    BaseSysWithVersion:
      $ref: "./openapi/schemas/sys/sys-with-version.yml"
    BaseSysWithIdAndVersion:
      $ref: "./openapi/schemas/sys/sys-with-id-and-version.yml"
    BaseSysWithIdAndVersionAndPublishedVersion:
      $ref: "./openapi/schemas/sys/sys-with-id-and-version-and-published-version.yml"
    BaseSysWithContentType:
      $ref: "./openapi/schemas/sys/sys-with-content-type.yml"
    UserSys:
      $ref: "./openapi/schemas/user/sys.yml#/UserSys"
    UserFields:
      $ref: "./openapi/schemas/user/fields.yml#/UserFields"
    User:
      $ref: "./openapi/schemas/user/user.yml#/User"
    ApiKeySys:
      $ref: "./openapi/schemas/api-key/sys.yml#/ApiKeySys"
    ApiKeyFields:
      $ref: "./openapi/schemas/api-key/fields.yml#/ApiKeyFields"
    ApiKeyRequestFields:
      $ref: "./openapi/schemas/api-key/request-fields.yml#/ApiKeyRequestFields"
    ApiKey:
      $ref: "./openapi/schemas/api-key/api-key.yml#/ApiKey"
    AppDefinitionSys:
      $ref: "./openapi/schemas/app-definition/sys.yml#/AppDefinitionSys"
    AppDefinitionFields:
      $ref: "./openapi/schemas/app-definition/fields.yml#/AppDefinitionFields"
    AppDefinitionParameters:
      $ref: "./openapi/schemas/app-definition/parameters.yml#/AppDefinitionParameters"
    AppDefinitionParameter:
      $ref: "./openapi/schemas/app-definition/parameter.yml#/AppDefinitionParameter"
    AppDefinition:
      $ref: "./openapi/schemas/app-definition/app-definition.yml#/AppDefinition"
    AppDefinitionLink:
      $ref: "./openapi/schemas/links/app-definition-link.yml#/AppDefinitionLink"
    AppInstallationSys:
      $ref: "./openapi/schemas/app-installation/sys.yml#/AppInstallationSys"
    AppInstallationFields:
      $ref: "./openapi/schemas/app-installation/fields.yml#/AppInstallationFields"
    AppInstallation:
      $ref: "./openapi/schemas/app-installation/app-installation.yml#/AppInstallation"
    AppSigningSecretSys:
      $ref: "./openapi/schemas/app-signing-secret/sys.yml#/AppSigningSecretSys"
    AppSigningSecretFields:
      $ref: "./openapi/schemas/app-signing-secret/fields.yml#/AppSigningSecretFields"
    AppSigningSecretRequestFields:
      $ref: "./openapi/schemas/app-signing-secret/request-fields.yml#/AppSigningSecretRequestFields"
    AppSigningSecret:
      $ref: "./openapi/schemas/app-signing-secret/app-signing-secret.yml#/AppSigningSecret"
    ContentTypeSys:
      $ref: "./openapi/schemas/content-type/sys.yml#/ContentTypeSys"
    ContentTypeFields:
      $ref: "./openapi/schemas/content-type/fields.yml#/ContentTypeFields"
    ContentTypeRequestFields:
      $ref: "./openapi/schemas/content-type/request-fields.yml#/ContentTypeRequestFields"
    ContentTypeMetadata:
      $ref: "./openapi/schemas/content-type/metadata.yml#/ContentTypeMetadata"
    ContentTypeMetadataAnnotationAssignment:
      $ref: "./openapi/schemas/content-type/metadata-annotation-assignment.yml#/ContentTypeMetadataAnnotationAssignment"
    ContentTypeMetadataTaxonomyItem:
      $ref: "./openapi/schemas/content-type/metadata-taxonomy-item.yml#/ContentTypeMetadataTaxonomyItem"
    ContentType:
      $ref: "./openapi/schemas/content-type/content-type.yml#/ContentType"
    EditorInterfaceSys:
      allOf:
        - $ref: "#/components/schemas/BaseSysWithSpaceEnvironment"
        - $ref: "#/components/schemas/BaseSysWithIdAndVersion"
        - type: object
          properties:
            type:
              type: string
              enum:
                - EditorInterface
            contentType:
              $ref: "#/components/schemas/ContentTypeLink"
          required:
            - contentType
    EditorInterfaceFields:
      type: object
      properties:
        editorLayout:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/EditorInterfaceEditorLayoutItem"
        controls:
          type: array
          nullable: true
          items:
            type: object
            properties:
              fieldId:
                type: string
              widgetNamespace:
                type: string
              widgetId:
                type: string
              settings: {}
            required:
              - fieldId
        groupControls:
          type: array
          nullable: true
          items:
            type: object
            properties:
              groupId:
                type: string
              widgetNamespace:
                type: string
              widgetId:
                type: string
              settings: {}
            required:
              - groupId
        sidebar:
          type: array
          nullable: true
          items:
            type: object
            properties:
              widgetNamespace:
                type: string
              widgetId:
                type: string
              settings: {}
              disabled:
                type: boolean
            required:
              - widgetNamespace
              - widgetId
    EditorInterfaceEditorLayoutItem:
      oneOf:
        - $ref: "#/components/schemas/EditorInterfaceEditorLayoutGroupItem"
        - $ref: "#/components/schemas/EditorInterfaceEditorLayoutFieldItem"
    EditorInterfaceEditorLayoutGroupItem:
      type: object
      properties:
        groupId:
          type: string
        name:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/EditorInterfaceEditorLayoutItem"
      required:
        - groupId
        - name
    EditorInterfaceEditorLayoutFieldItem:
      type: object
      properties:
        fieldId:
          type: string
      required:
        - fieldId
    EditorInterface:
      allOf:
        - type: object
          properties:
            sys:
              $ref: "#/components/schemas/EditorInterfaceSys"
          required:
            - sys
        - $ref: "#/components/schemas/EditorInterfaceFields"
    ExtensionSys:
      allOf:
        - $ref: "#/components/schemas/BaseSysWithSpaceEnvironment"
        - $ref: "#/components/schemas/BaseSysWithIdAndVersion"
        - type: object
          properties:
            type:
              type: string
              enum:
                - Extension
    ExtensionFields:
      type: object
      properties:
        extension:
          type: object
          properties:
            name:
              type: string
            src:
              type: string
            srcdoc:
              type: string
            fieldTypes:
              type: array
              items:
                type: object
                properties:
                  type:
                    type: string
                  linkType:
                    type: string
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      linkType:
                        type: string
                    required:
                      - type
                required:
                  - type
            sidebar:
              type: boolean
            parameters:
              $ref: "#/components/schemas/AppDefinitionParameters"
          required:
            - name
            - fieldTypes
        parameters: {}
      required:
        - extension
    Extension:
      allOf:
        - type: object
          properties:
            sys:
              $ref: "#/components/schemas/ExtensionSys"
          required:
            - sys
        - $ref: "#/components/schemas/ExtensionFields"
    LinkSys:
      $ref: "./openapi/schemas/links/sys.yml"
    SpaceLink:
      $ref: "./openapi/schemas/links/space-link.yml#/SpaceLink"
    EnvironmentLink:
      $ref: "./openapi/schemas/links/environment-link.yml#/EnvironmentLink"
    AnnotationLink:
      $ref: "./openapi/schemas/links/annotation-link.yml#/AnnotationLink"
    FunctionLink:
      $ref: "./openapi/schemas/links/function-link.yml#/FunctionLink"
    ResourceProviderLink:
      $ref: "./openapi/schemas/links/resource-provider-link.yml#/ResourceProviderLink"
    ContentTypeLink:
      $ref: "./openapi/schemas/links/content-type-link.yml#/ContentTypeLink"
    ResourceLink:
      $ref: "./openapi/schemas/content-type/resource-link.yml#/ResourceLink"
    ContentfulEntryResourceLink:
      $ref: "./openapi/schemas/content-type/resource-link.yml#/ContentfulEntryResourceLink"
    ExternalResourceLink:
      $ref: "./openapi/schemas/content-type/resource-link.yml#/ExternalResourceLink"
    TagLink:
      $ref: "./openapi/schemas/links/tag-link.yml#/TagLink"
    PersonalAccessTokenSys:
      allOf:
        - $ref: "#/components/schemas/BaseSysWithId"
        - type: object
          properties:
            type:
              type: string
              enum:
                - PersonalAccessToken
        - type: object
          properties:
            expiresAt:
              type: string
              format: date-time
              nullable: true
            lastUsedAt:
              type: string
              format: date-time
              nullable: true
            redactedValue:
              type: string
    PersonalAccessTokenRequestFields:
      type: object
      properties:
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        expiresIn:
          type: integer
          nullable: true
      required:
        - name
        - scopes
    PersonalAccessTokenFields:
      type: object
      properties:
        name:
          type: string
        scopes:
          type: array
          items:
            type: string
        token:
          type: string
        revokedAt:
          type: string
          format: date-time
          nullable: true
      required:
        - name
        - scopes
    PersonalAccessToken:
      allOf:
        - type: object
          properties:
            sys:
              $ref: "#/components/schemas/PersonalAccessTokenSys"
          required:
            - sys
        - $ref: "#/components/schemas/PersonalAccessTokenFields"
    PreviewApiKeySys:
      allOf:
        - $ref: "#/components/schemas/BaseSysWithSpace"
        - $ref: "#/components/schemas/BaseSysWithIdAndVersion"
        - type: object
          properties:
            type:
              type: string
              enum:
                - PreviewApiKey
    PreviewApiKeyFields:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        accessToken:
          type: string
        environments:
          type: array
          items:
            $ref: "#/components/schemas/EnvironmentLink"
      required:
        - name
        - accessToken
    PreviewApiKey:
      allOf:
        - type: object
          properties:
            sys:
              $ref: "#/components/schemas/PreviewApiKeySys"
          required:
            - sys
        - $ref: "#/components/schemas/PreviewApiKeyFields"
    ResourceProviderRequestSys:
      type: object
      properties:
        id:
          type: string
      required:
        - id
    ResourceProviderSys:
      allOf:
        - $ref: "#/components/schemas/BaseSysWithId"
        - $ref: "#/components/schemas/BaseSysWithOrganization"
        - $ref: "#/components/schemas/BaseSysWithAppDefinition"
        - type: object
          properties:
            type:
              type: string
              enum:
                - ResourceProvider
    ResourceProviderFields:
      type: object
      properties:
        type:
          type: string
          enum:
            - function
        function:
          $ref: "#/components/schemas/FunctionLink"
      required:
        - type
        - function
    ResourceProviderRequest:
      allOf:
        - type: object
          properties:
            sys:
              $ref: "#/components/schemas/ResourceProviderRequestSys"
          required:
            - sys
        - $ref: "#/components/schemas/ResourceProviderFields"
    ResourceProvider:
      allOf:
        - type: object
          properties:
            sys:
              $ref: "#/components/schemas/ResourceProviderSys"
          required:
            - sys
        - $ref: "#/components/schemas/ResourceProviderFields"
    ResourceTypeSys:
      allOf:
        - $ref: "#/components/schemas/BaseSysWithId"
        - $ref: "#/components/schemas/BaseSysWithOrganization"
        - $ref: "#/components/schemas/BaseSysWithAppDefinition"
        - $ref: "#/components/schemas/BaseSysWithResourceProvider"
        - type: object
          properties:
            type:
              type: string
              enum:
                - ResourceType
    ResourceTypeFields:
      type: object
      properties:
        name:
          type: string
        defaultFieldMapping:
          $ref: "#/components/schemas/ResourceTypeDefaultFieldMapping"
      required:
        - name
        - defaultFieldMapping
    ResourceTypeDefaultFieldMapping:
      type: object
      properties:
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        externalUrl:
          type: string
        image:
          type: object
          properties:
            url:
              type: string
            altText:
              type: string
          required:
            - url
        badge:
          type: object
          properties:
            label:
              type: string
            variant:
              type: string
          required:
            - label
            - variant
      required:
        - title
    ResourceType:
      allOf:
        - type: object
          properties:
            sys:
              $ref: "#/components/schemas/ResourceTypeSys"
          required:
            - sys
        - $ref: "#/components/schemas/ResourceTypeFields"
    RoleSys:
      allOf:
        - $ref: "#/components/schemas/BaseSysWithSpace"
        - $ref: "#/components/schemas/BaseSysWithIdAndVersion"
        - type: object
          properties:
            type:
              type: string
              enum:
                - Role
    RoleFields:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        permissions:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: array
                items:
                  type: string
        policies:
          type: array
          items:
            type: object
            properties:
              effect:
                type: string
                enum:
                  - allow
                  - deny
              actions:
                oneOf:
                  - type: string
                  - type: array
                    items:
                      type: string
              constraint: {}
            required:
              - effect
              - actions
      required:
        - name
        - permissions
    Role:
      allOf:
        - type: object
          properties:
            sys:
              $ref: "#/components/schemas/RoleSys"
          required:
            - sys
        - $ref: "#/components/schemas/RoleFields"
    SpaceEnablementSys:
      allOf:
        - $ref: "#/components/schemas/BaseSysWithSpace"
        - $ref: "#/components/schemas/BaseSysWithVersion"
        - type: object
          properties:
            type:
              type: string
              enum:
                - SpaceEnablement
    SpaceEnablementField:
      type: object
      properties:
        enabled:
          type: boolean
      required:
        - enabled
    SpaceEnablementFields:
      type: object
      properties:
        crossSpaceLinks:
          $ref: "#/components/schemas/SpaceEnablementField"
        spaceTemplates:
          $ref: "#/components/schemas/SpaceEnablementField"
        studioExperiences:
          $ref: "#/components/schemas/SpaceEnablementField"
        suggestConcepts:
          $ref: "#/components/schemas/SpaceEnablementField"
    SpaceEnablement:
      allOf:
        - type: object
          properties:
            sys:
              $ref: "#/components/schemas/SpaceEnablementSys"
          required:
            - sys
        - $ref: "#/components/schemas/SpaceEnablementFields"
    WebhookDefinitionSys:
      allOf:
        - $ref: "#/components/schemas/BaseSysWithSpace"
        - $ref: "#/components/schemas/BaseSysWithIdAndVersion"
        - type: object
          properties:
            type:
              type: string
              enum:
                - WebhookDefinition
    WebhookDefinitionFields:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        topics:
          type: array
          items:
            type: string
        filters:
          type: array
          items:
            $ref: "#/components/schemas/WebhookDefinitionFilter"
          nullable: true
        httpBasicUsername:
          type: string
          nullable: true
        httpBasicPassword:
          type: string
          nullable: true
        headers:
          $ref: "#/components/schemas/WebhookDefinitionHeaders"
        transformation:
          type: object
          properties:
            method:
              type: string
            contentType:
              type: string
            includeContentLength:
              type: boolean
            body: {}
          nullable: true
        active:
          type: boolean
      required:
        - name
        - url
        - topics
    WebhookDefinitionHeaders:
      type: array
      items:
        $ref: "#/components/schemas/WebhookDefinitionHeader"
    WebhookDefinitionHeader:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
        secret:
          type: boolean
      required:
        - key
    WebhookDefinitionFilter:
      type: object
      properties:
        not:
          $ref: "#/components/schemas/WebhookDefinitionFilterNot"
        equals:
          $ref: "#/components/schemas/WebhookDefinitionFilterEquals"
        in:
          $ref: "#/components/schemas/WebhookDefinitionFilterIn"
        regexp:
          $ref: "#/components/schemas/WebhookDefinitionFilterRegexp"
    WebhookDefinitionFilterNot:
      type: object
      properties:
        equals:
          $ref: "#/components/schemas/WebhookDefinitionFilterEquals"
        in:
          $ref: "#/components/schemas/WebhookDefinitionFilterIn"
        regexp:
          $ref: "#/components/schemas/WebhookDefinitionFilterRegexp"
    WebhookDefinitionFilterEquals:
      type: array
    WebhookDefinitionFilterIn:
      type: array
    WebhookDefinitionFilterRegexp:
      type: array
    WebhookDefinition:
      allOf:
        - type: object
          properties:
            sys:
              $ref: "#/components/schemas/WebhookDefinitionSys"
          required:
            - sys
        - $ref: "#/components/schemas/WebhookDefinitionFields"
    EntrySys:
      allOf:
        - $ref: "#/components/schemas/BaseSysWithSpaceEnvironment"
        - $ref: "#/components/schemas/BaseSysWithContentType"
        - $ref: "#/components/schemas/BaseSysWithIdAndVersionAndPublishedVersion"
        - type: object
          properties:
            type:
              type: string
              enum:
                - Entry
    EntryFields:
      type: object
      additionalProperties: {}
    Entry:
      type: object
      properties:
        sys:
          $ref: "#/components/schemas/EntrySys"
        metadata:
          $ref: "#/components/schemas/EntryMetadata"
        fields:
          $ref: "#/components/schemas/EntryFields"
      required:
        - sys
    EntryRequest:
      type: object
      properties:
        metadata:
          $ref: "#/components/schemas/EntryMetadata"
        fields:
          $ref: "#/components/schemas/EntryFields"
    EntryMetadata:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: "#/components/schemas/EntryMetadataTagsItem"
    EntryMetadataTagsItem:
      allOf:
        - $ref: "#/components/schemas/TagLink"
  securitySchemes:
    accessToken:
      type: http
      scheme: bearer
      bearerFormat: Contentful Management API Access Token
  responses:
    no-content:
      description: No content
    unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApplicationJSONError"
        application/vnd.contentful.management.v1+json:
          schema:
            $ref: "#/components/schemas/ApplicationVndContentfulManagementV1JSONError"
    error:
      description: An error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApplicationJSONError"
        application/vnd.contentful.management.v1+json:
          schema:
            $ref: "#/components/schemas/ApplicationVndContentfulManagementV1JSONError"
security:
  - accessToken: []
paths:
  /app_definitions:
    get:
      operationId: getMarketplaceAppDefinitions
      summary: Get marketplace app definitions
      parameters:
        - name: sys.id[in]
          in: query
          required: true
          schema:
            type: array
            minItems: 1
            items:
              type: string
      responses:
        200:
          description: A list of app definitions
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                type: object
                properties:
                  sys:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - Array
                    required:
                      - type
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: "#/components/schemas/AppDefinition"
                required:
                  - sys
                  - total
                  - items
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /users/me:
    get:
      operationId: getAuthenticatedUser
      summary: Get the authenticated user
      responses:
        200:
          description: The authenticated user
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/User"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /users/me/access_tokens:
    post:
      operationId: createPersonalAccessToken
      summary: Create a personal access token
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/PersonalAccessTokenRequestFields"
      responses:
        2XX:
          description: A personal access token
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/PersonalAccessToken"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /users/me/access_tokens/{access_token_id}:
    parameters:
      - $ref: "#/components/parameters/access_token_id"
    get:
      operationId: getPersonalAccessToken
      summary: Get a single personal access token
      responses:
        200:
          description: Get a single access token
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/PersonalAccessToken"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /users/me/access_tokens/{access_token_id}/revoked:
    parameters:
      - $ref: "#/components/parameters/access_token_id"
    put:
      operationId: revokePersonalAccessToken
      summary: Revoke a personal access token
      responses:
        2XX:
          description: A personal access token
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/PersonalAccessToken"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/enablements:
    parameters:
      - $ref: "#/components/parameters/space_id"
    get:
      operationId: getSpaceEnablements
      summary: Get enablements for a space
      responses:
        200:
          description: Enablements for a space
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SpaceEnablement"
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/SpaceEnablement"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putSpaceEnablements
      summary: Update enablements for a space
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/x-contentful-version"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/SpaceEnablementFields"
      responses:
        2XX:
          description: Enablements for a space
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/SpaceEnablement"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/api_keys:
    parameters:
      - $ref: "#/components/parameters/space_id"
    post:
      operationId: createDeliveryApiKey
      summary: Create a delivery api key
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/ApiKeyRequestFields"
      responses:
        2XX:
          description: A delivery api key
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/api_keys/{api_key_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/api_key_id"
    get:
      operationId: getDeliveryApiKey
      summary: Get a single delivery api key
      responses:
        200:
          description: A delivery api key
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: updateDeliveryApiKey
      summary: Update a single delivery api key
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/api_key_id"
        - $ref: "#/components/parameters/x-contentful-version"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/ApiKeyRequestFields"
      responses:
        2XX:
          description: A delivery api key
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ApiKey"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteDeliveryApiKey
      summary: Delete a single delivery api key
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/preview_api_keys/{preview_api_key_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/preview_api_key_id"
    get:
      operationId: getPreviewApiKey
      summary: Get a single preview api key
      responses:
        200:
          description: A preview api key
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/PreviewApiKey"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /organizations/{organization_id}/app_definitions:
    parameters:
      - $ref: "#/components/parameters/organization_id"
    post:
      operationId: createAppDefinition
      summary: Create an app definition
      parameters:
        - $ref: "#/components/parameters/organization_id"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/AppDefinitionFields"
      responses:
        2XX:
          description: An app definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/AppDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /organizations/{organization_id}/app_definitions/{app_definition_id}:
    parameters:
      - $ref: "#/components/parameters/organization_id"
      - $ref: "#/components/parameters/app_definition_id"
    get:
      operationId: getAppDefinition
      summary: Get one app definition
      responses:
        200:
          description: An app definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/AppDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putAppDefinition
      summary: Create or update an app definition
      parameters:
        - $ref: "#/components/parameters/organization_id"
        - $ref: "#/components/parameters/app_definition_id"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/AppDefinitionFields"
      responses:
        2XX:
          description: An app definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/AppDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteAppDefinition
      summary: Delete an app definition
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /organizations/{organization_id}/app_definitions/{app_definition_id}/resource_provider:
    parameters:
      - $ref: "#/components/parameters/organization_id"
      - $ref: "#/components/parameters/app_definition_id"
    get:
      operationId: getResourceProvider
      summary: Get one resource provider definition
      responses:
        200:
          description: A resource provider definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ResourceProvider"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putResourceProvider
      summary: Create or update a resource provider definition
      parameters:
        - $ref: "#/components/parameters/organization_id"
        - $ref: "#/components/parameters/app_definition_id"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/ResourceProviderRequest"
      responses:
        2XX:
          description: A resource provider definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ResourceProvider"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteResourceProvider
      summary: Delete a resource provider definition
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /organizations/{organization_id}/app_definitions/{app_definition_id}/signing_secret:
    parameters:
      - $ref: "#/components/parameters/organization_id"
      - $ref: "#/components/parameters/app_definition_id"
    get:
      operationId: getAppSigningSecret
      summary: Get one app signing secret
      responses:
        200:
          description: An app signing secret
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/AppSigningSecret"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putAppSigningSecret
      summary: Create or update an app signing secret
      parameters:
        - $ref: "#/components/parameters/organization_id"
        - $ref: "#/components/parameters/app_definition_id"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/AppSigningSecretRequestFields"
      responses:
        2XX:
          description: An app signing secret
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/AppSigningSecret"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteAppSigningSecret
      summary: Delete an app signing secret
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /organizations/{organization_id}/app_definitions/{app_definition_id}/resource_provider/resource_types/{resource_type_id}:
    parameters:
      - $ref: "#/components/parameters/organization_id"
      - $ref: "#/components/parameters/app_definition_id"
      - $ref: "#/components/parameters/resource_type_id"
    get:
      operationId: getResourceType
      summary: Get one resource type definition
      responses:
        200:
          description: A resource type definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ResourceType"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putResourceType
      summary: Create or update a resource type definition
      parameters:
        - $ref: "#/components/parameters/organization_id"
        - $ref: "#/components/parameters/app_definition_id"
        - $ref: "#/components/parameters/resource_type_id"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/ResourceTypeFields"
      responses:
        2XX:
          description: A resource type definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ResourceType"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteResourceType
      summary: Delete a resource type definition
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/app_installations/{app_definition_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/app_definition_id"
    get:
      operationId: getAppInstallation
      summary: Get one app installation
      responses:
        200:
          description: An app installation
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/AppInstallation"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putAppInstallation
      summary: Install or update an app
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/app_definition_id"
        - in: header
          name: X-Contentful-Marketplace
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/AppInstallationFields"
      responses:
        2XX:
          description: An app installation
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/AppInstallation"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteAppInstallation
      summary: Uninstall an app
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/content_types/{content_type_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/content_type_id"
    get:
      operationId: getContentType
      summary: Get a content type
      responses:
        200:
          description: A content type
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ContentType"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putContentType
      summary: Update a content type
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/content_type_id"
        - $ref: "#/components/parameters/x-contentful-version"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/ContentTypeRequestFields"
      responses:
        2XX:
          description: A content type
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ContentType"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteContentType
      summary: Delete a content type
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/content_types/{content_type_id}/published:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/content_type_id"
    put:
      operationId: activateContentType
      summary: Activate a content type
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/content_type_id"
        - $ref: "#/components/parameters/x-contentful-version"
      responses:
        2XX:
          description: A content type
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ContentType"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deactivateContentType
      summary: Deactivate a content type
      responses:
        200:
          description: A content type
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/ContentType"
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/content_types/{content_type_id}/editor_interface:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/content_type_id"
    get:
      operationId: getEditorInterface
      summary: Get the editor interface for a content type
      responses:
        200:
          description: An editor interface
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/EditorInterface"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putEditorInterface
      summary: Update the editor interface for a content type
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/content_type_id"
        - $ref: "#/components/parameters/x-contentful-version"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/EditorInterfaceFields"
      responses:
        2XX:
          description: An editor interface
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/EditorInterface"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/entries:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
    post:
      operationId: createEntry
      summary: Create an entry
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/x-contentful-content-type-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/EntryRequest"
      responses:
        2XX:
          description: An entry
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/Entry"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/entries/{entry_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/entry_id"
    get:
      operationId: getEntry
      summary: Get a single entry
      responses:
        200:
          description: An entry
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/Entry"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putEntry
      summary: Create or update an entry
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/entry_id"
        - $ref: "#/components/parameters/x-contentful-content-type-optional"
        - $ref: "#/components/parameters/x-contentful-version"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/EntryRequest"
      responses:
        2XX:
          description: An entry
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/Entry"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteEntry
      summary: Delete an entry
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/entries/{entry_id}/published:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/entry_id"
    put:
      operationId: publishEntry
      summary: Publish an entry
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/entry_id"
        - $ref: "#/components/parameters/x-contentful-version"
      responses:
        2XX:
          description: An entry
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/Entry"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: unpublishEntry
      summary: Unpublish an entry
      responses:
        200:
          description: An entry
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/Entry"
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/extensions/{extension_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/extension_id"
    get:
      operationId: getExtension
      summary: Get a single extension
      responses:
        200:
          description: An extension
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/Extension"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putExtension
      summary: Create or update an extension
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/extension_id"
        - $ref: "#/components/parameters/x-contentful-version"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/ExtensionFields"
      responses:
        2XX:
          description: An extension
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/Extension"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteExtension
      summary: Delete an extension
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/roles:
    parameters:
      - $ref: "#/components/parameters/space_id"
    post:
      operationId: createRole
      summary: Create a role
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/RoleFields"
      responses:
        2XX:
          description: A role
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/Role"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/roles/{role_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/role_id"
    get:
      operationId: getRole
      summary: Get a role
      responses:
        200:
          description: A role
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/Role"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: updateRole
      summary: Update a role
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/role_id"
        - $ref: "#/components/parameters/x-contentful-version"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/RoleFields"
      responses:
        2XX:
          description: A role
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/Role"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteRole
      summary: Delete a role
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/webhook_definitions:
    parameters:
      - $ref: "#/components/parameters/space_id"
    post:
      operationId: createWebhookDefinition
      summary: Create a webhook definition
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/WebhookDefinitionFields"
      responses:
        2XX:
          description: A webhook definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/WebhookDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/webhook_definitions/{webhook_definition_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/webhook_definition_id"
    get:
      operationId: getWebhookDefinition
      summary: Get a webhook definition
      responses:
        200:
          description: A webhook definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/WebhookDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: updateWebhookDefinition
      summary: Update a webhook definition
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/webhook_definition_id"
        - $ref: "#/components/parameters/x-contentful-version"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "#/components/schemas/WebhookDefinitionFields"
      responses:
        2XX:
          description: A webhook definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "#/components/schemas/WebhookDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteWebhookDefinition
      summary: Delete a webhook definition
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
