openapi: "3.0.3"
info:
  title: Contentful Management API
  version: "0.1"
servers:
  - url: https://api.contentful.com
components:
  parameters:
    organization_id:
      in: path
      name: organization_id
      required: true
      schema:
        type: string
    space_id:
      in: path
      name: space_id
      required: true
      schema:
        type: string
    environment_id:
      in: path
      name: environment_id
      required: true
      schema:
        type: string
    access_token_id:
      in: path
      name: access_token_id
      required: true
      schema:
        type: string
    api_key_id:
      in: path
      name: api_key_id
      required: true
      schema:
        type: string
    app_definition_id:
      in: path
      name: app_definition_id
      required: true
      schema:
        type: string
    content_type_id:
      in: path
      name: content_type_id
      required: true
      schema:
        type: string
    entry_id:
      in: path
      name: entry_id
      required: true
      schema:
        type: string
    environment_alias_id:
      in: path
      name: environment_alias_id
      required: true
      schema:
        type: string
    extension_id:
      in: path
      name: extension_id
      required: true
      schema:
        type: string
    preview_api_key_id:
      in: path
      name: preview_api_key_id
      required: true
      schema:
        type: string
    resource_type_id:
      in: path
      name: resource_type_id
      required: true
      schema:
        type: string
    role_id:
      in: path
      name: role_id
      required: true
      schema:
        type: string
    webhook_definition_id:
      in: path
      name: webhook_definition_id
      required: true
      schema:
        type: string
    x-contentful-content-type-optional:
      in: header
      name: X-Contentful-Content-Type
      required: false
      schema:
        type: string
    x-contentful-content-type-required:
      in: header
      name: X-Contentful-Content-Type
      required: true
      schema:
        type: string
    x-contentful-source-environment-optional:
      in: header
      name: X-Contentful-Source-Environment
      required: false
      schema:
        type: string
    x-contentful-version-required:
      in: header
      name: X-Contentful-Version
      required: true
      schema:
        type: integer
    x-contentful-version-optional:
      in: header
      name: X-Contentful-Version
      required: false
      schema:
        type: integer
  schemas:
    ApplicationJSONError:
      anyOf:
        - $ref: "./openapi/schemas/error/error.yml#/Error"
    ApplicationVndContentfulManagementV1JSONError:
      anyOf:
        - $ref: "./openapi/schemas/error/error.yml#/Error"
  securitySchemes:
    accessToken:
      type: http
      scheme: bearer
      bearerFormat: Contentful Management API Access Token
  responses:
    no-content:
      description: No content
    unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApplicationJSONError"
        application/vnd.contentful.management.v1+json:
          schema:
            $ref: "#/components/schemas/ApplicationVndContentfulManagementV1JSONError"
    error:
      description: An error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApplicationJSONError"
        application/vnd.contentful.management.v1+json:
          schema:
            $ref: "#/components/schemas/ApplicationVndContentfulManagementV1JSONError"
security:
  - accessToken: []
paths:
  /app_definitions:
    get:
      operationId: getMarketplaceAppDefinitions
      summary: Get marketplace app definitions
      parameters:
        - name: sys.id[in]
          in: query
          required: true
          schema:
            type: array
            minItems: 1
            items:
              type: string
      responses:
        200:
          description: A list of app definitions
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                type: object
                properties:
                  sys:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - Array
                    required:
                      - type
                  total:
                    type: integer
                  items:
                    type: array
                    items:
                      $ref: "./openapi/schemas/app-definition/app-definition.yml#/AppDefinition"
                required:
                  - sys
                  - total
                  - items
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /organizations/{organization_id}/app_definitions:
    parameters:
      - $ref: "#/components/parameters/organization_id"
    post:
      operationId: createAppDefinition
      summary: Create an app definition
      parameters:
        - $ref: "#/components/parameters/organization_id"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/app-definition/data.yml#/AppDefinitionData"
      responses:
        2XX:
          description: An app definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/app-definition/app-definition.yml#/AppDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /organizations/{organization_id}/app_definitions/{app_definition_id}:
    parameters:
      - $ref: "#/components/parameters/organization_id"
      - $ref: "#/components/parameters/app_definition_id"
    get:
      operationId: getAppDefinition
      summary: Get one app definition
      responses:
        200:
          description: An app definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/app-definition/app-definition.yml#/AppDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putAppDefinition
      summary: Create or update an app definition
      parameters:
        - $ref: "#/components/parameters/organization_id"
        - $ref: "#/components/parameters/app_definition_id"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/app-definition/data.yml#/AppDefinitionData"
      responses:
        2XX:
          description: An app definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/app-definition/app-definition.yml#/AppDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteAppDefinition
      summary: Delete an app definition
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /organizations/{organization_id}/app_definitions/{app_definition_id}/resource_provider:
    parameters:
      - $ref: "#/components/parameters/organization_id"
      - $ref: "#/components/parameters/app_definition_id"
    get:
      operationId: getResourceProvider
      summary: Get one resource provider definition
      responses:
        200:
          description: A resource provider definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/resource-provider/resource-provider.yml#/ResourceProvider"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putResourceProvider
      summary: Create or update a resource provider definition
      parameters:
        - $ref: "#/components/parameters/organization_id"
        - $ref: "#/components/parameters/app_definition_id"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/resource-provider/request.yml#/ResourceProviderRequest"
      responses:
        2XX:
          description: A resource provider definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/resource-provider/resource-provider.yml#/ResourceProvider"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteResourceProvider
      summary: Delete a resource provider definition
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /organizations/{organization_id}/app_definitions/{app_definition_id}/resource_provider/resource_types/{resource_type_id}:
    parameters:
      - $ref: "#/components/parameters/organization_id"
      - $ref: "#/components/parameters/app_definition_id"
      - $ref: "#/components/parameters/resource_type_id"
    get:
      operationId: getResourceType
      summary: Get one resource type definition
      responses:
        200:
          description: A resource type definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/resource-type/resource-type.yml#/ResourceType"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putResourceType
      summary: Create or update a resource type definition
      parameters:
        - $ref: "#/components/parameters/organization_id"
        - $ref: "#/components/parameters/app_definition_id"
        - $ref: "#/components/parameters/resource_type_id"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/resource-type/data.yml#/ResourceTypeData"
      responses:
        2XX:
          description: A resource type definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/resource-type/resource-type.yml#/ResourceType"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteResourceType
      summary: Delete a resource type definition
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /organizations/{organization_id}/app_definitions/{app_definition_id}/signing_secret:
    parameters:
      - $ref: "#/components/parameters/organization_id"
      - $ref: "#/components/parameters/app_definition_id"
    get:
      operationId: getAppSigningSecret
      summary: Get one app signing secret
      responses:
        200:
          description: An app signing secret
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/app-signing-secret/app-signing-secret.yml#/AppSigningSecret"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putAppSigningSecret
      summary: Create or update an app signing secret
      parameters:
        - $ref: "#/components/parameters/organization_id"
        - $ref: "#/components/parameters/app_definition_id"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/app-signing-secret/request-data.yml#/AppSigningSecretRequestData"
      responses:
        2XX:
          description: An app signing secret
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/app-signing-secret/app-signing-secret.yml#/AppSigningSecret"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteAppSigningSecret
      summary: Delete an app signing secret
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/api_keys:
    parameters:
      - $ref: "#/components/parameters/space_id"
    post:
      operationId: createDeliveryAPIKey
      summary: Create a delivery api key
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/api-key/request-data.yml#/ApiKeyRequestData"
      responses:
        2XX:
          description: A delivery api key
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/api-key/api-key.yml#/ApiKey"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/api_keys/{api_key_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/api_key_id"
    get:
      operationId: getDeliveryAPIKey
      summary: Get a single delivery api key
      responses:
        200:
          description: A delivery api key
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/api-key/api-key.yml#/ApiKey"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: updateDeliveryAPIKey
      summary: Update a single delivery api key
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/api_key_id"
        - $ref: "#/components/parameters/x-contentful-version-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/api-key/request-data.yml#/ApiKeyRequestData"
      responses:
        2XX:
          description: A delivery api key
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/api-key/api-key.yml#/ApiKey"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteDeliveryAPIKey
      summary: Delete a single delivery api key
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/enablements:
    parameters:
      - $ref: "#/components/parameters/space_id"
    get:
      operationId: getSpaceEnablements
      summary: Get enablements for a space
      responses:
        200:
          description: Enablements for a space
          content:
            application/json:
              schema:
                $ref: "./openapi/schemas/space-enablement/space-enablement.yml#/SpaceEnablement"
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/space-enablement/space-enablement.yml#/SpaceEnablement"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putSpaceEnablements
      summary: Update enablements for a space
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/x-contentful-version-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/space-enablement/data.yml#/SpaceEnablementData"
      responses:
        2XX:
          description: Enablements for a space
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/space-enablement/space-enablement.yml#/SpaceEnablement"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environment_aliases/{environment_alias_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_alias_id"
    get:
      operationId: getEnvironmentAlias
      summary: Get a single environment alias
      responses:
        200:
          description: An environment alias
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/environment-alias/environment-alias.yml#/EnvironmentAlias"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: createOrUpdateEnvironmentAlias
      summary: Create/Update an environment alias
      parameters:
        - $ref: "#/components/parameters/x-contentful-version-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/environment-alias/data.yml#/EnvironmentAliasData"
      responses:
        2XX:
          description: An environment alias
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/environment-alias/environment-alias.yml#/EnvironmentAlias"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteEnvironmentAlias
      summary: Delete an environment alias
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
    get:
      operationId: getEnvironment
      summary: Get a single environment
      responses:
        200:
          description: An environment
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/environment/environment.yml#/Environment"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: createOrUpdateEnvironment
      summary: Create or update an environment
      parameters:
        - $ref: "#/components/parameters/x-contentful-source-environment-optional"
        - $ref: "#/components/parameters/x-contentful-version-optional"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/environment/data.yml#/EnvironmentData"
      responses:
        2XX:
          description: An environment
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/environment/environment.yml#/Environment"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteEnvironment
      summary: Delete an environment
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/app_installations/{app_definition_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/app_definition_id"
    get:
      operationId: getAppInstallation
      summary: Get one app installation
      responses:
        200:
          description: An app installation
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/app-installation/app-installation.yml#/AppInstallation"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putAppInstallation
      summary: Install or update an app
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/app_definition_id"
        - in: header
          name: X-Contentful-Marketplace
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/app-installation/data.yml#/AppInstallationData"
      responses:
        2XX:
          description: An app installation
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/app-installation/app-installation.yml#/AppInstallation"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteAppInstallation
      summary: Uninstall an app
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/content_types/{content_type_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/content_type_id"
    get:
      operationId: getContentType
      summary: Get a content type
      responses:
        200:
          description: A content type
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/content-type/content-type.yml#/ContentType"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putContentType
      summary: Update a content type
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/content_type_id"
        - $ref: "#/components/parameters/x-contentful-version-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/content-type/request-data.yml#/ContentTypeRequestData"
      responses:
        2XX:
          description: A content type
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/content-type/content-type.yml#/ContentType"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteContentType
      summary: Delete a content type
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/content_types/{content_type_id}/editor_interface:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/content_type_id"
    get:
      operationId: getEditorInterface
      summary: Get the editor interface for a content type
      responses:
        200:
          description: An editor interface
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/editor-interface/editor-interface.yml#/EditorInterface"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putEditorInterface
      summary: Update the editor interface for a content type
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/content_type_id"
        - $ref: "#/components/parameters/x-contentful-version-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/editor-interface/data.yml#/EditorInterfaceData"
      responses:
        2XX:
          description: An editor interface
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/editor-interface/editor-interface.yml#/EditorInterface"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/content_types/{content_type_id}/published:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/content_type_id"
    put:
      operationId: activateContentType
      summary: Activate a content type
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/content_type_id"
        - $ref: "#/components/parameters/x-contentful-version-required"
      responses:
        2XX:
          description: A content type
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/content-type/content-type.yml#/ContentType"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deactivateContentType
      summary: Deactivate a content type
      responses:
        200:
          description: A content type
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/content-type/content-type.yml#/ContentType"
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/entries:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
    post:
      operationId: createEntry
      summary: Create an entry
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/x-contentful-content-type-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/entry/request.yml#/EntryRequest"
      responses:
        2XX:
          description: An entry
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/entry/entry.yml#/Entry"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/entries/{entry_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/entry_id"
    get:
      operationId: getEntry
      summary: Get a single entry
      responses:
        200:
          description: An entry
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/entry/entry.yml#/Entry"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putEntry
      summary: Create or update an entry
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/entry_id"
        - $ref: "#/components/parameters/x-contentful-content-type-optional"
        - $ref: "#/components/parameters/x-contentful-version-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/entry/request.yml#/EntryRequest"
      responses:
        2XX:
          description: An entry
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/entry/entry.yml#/Entry"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteEntry
      summary: Delete an entry
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/entries/{entry_id}/published:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/entry_id"
    put:
      operationId: publishEntry
      summary: Publish an entry
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/entry_id"
        - $ref: "#/components/parameters/x-contentful-version-required"
      responses:
        2XX:
          description: An entry
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/entry/entry.yml#/Entry"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: unpublishEntry
      summary: Unpublish an entry
      responses:
        200:
          description: An entry
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/entry/entry.yml#/Entry"
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/environments/{environment_id}/extensions/{extension_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/environment_id"
      - $ref: "#/components/parameters/extension_id"
    get:
      operationId: getExtension
      summary: Get a single extension
      responses:
        200:
          description: An extension
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/extension/extension.yml#/Extension"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: putExtension
      summary: Create or update an extension
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/environment_id"
        - $ref: "#/components/parameters/extension_id"
        - $ref: "#/components/parameters/x-contentful-version-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/extension/data.yml#/ExtensionData"
      responses:
        2XX:
          description: An extension
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/extension/extension.yml#/Extension"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteExtension
      summary: Delete an extension
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/preview_api_keys/{preview_api_key_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/preview_api_key_id"
    get:
      operationId: getPreviewAPIKey
      summary: Get a single preview api key
      responses:
        200:
          description: A preview api key
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/preview-api-key/preview-api-key.yml#/PreviewApiKey"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/roles:
    parameters:
      - $ref: "#/components/parameters/space_id"
    post:
      operationId: createRole
      summary: Create a role
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/role/data.yml#/RoleData"
      responses:
        2XX:
          description: A role
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/role/role.yml#/Role"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/roles/{role_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/role_id"
    get:
      operationId: getRole
      summary: Get a role
      responses:
        200:
          description: A role
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/role/role.yml#/Role"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: updateRole
      summary: Update a role
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/role_id"
        - $ref: "#/components/parameters/x-contentful-version-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/role/data.yml#/RoleData"
      responses:
        2XX:
          description: A role
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/role/role.yml#/Role"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteRole
      summary: Delete a role
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/webhook_definitions:
    parameters:
      - $ref: "#/components/parameters/space_id"
    post:
      operationId: createWebhookDefinition
      summary: Create a webhook definition
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/webhook-definition/data.yml#/WebhookDefinitionData"
      responses:
        2XX:
          description: A webhook definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/webhook-definition/webhook-definition.yml#/WebhookDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /spaces/{space_id}/webhook_definitions/{webhook_definition_id}:
    parameters:
      - $ref: "#/components/parameters/space_id"
      - $ref: "#/components/parameters/webhook_definition_id"
    get:
      operationId: getWebhookDefinition
      summary: Get a webhook definition
      responses:
        200:
          description: A webhook definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/webhook-definition/webhook-definition.yml#/WebhookDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    put:
      operationId: updateWebhookDefinition
      summary: Update a webhook definition
      parameters:
        - $ref: "#/components/parameters/space_id"
        - $ref: "#/components/parameters/webhook_definition_id"
        - $ref: "#/components/parameters/x-contentful-version-required"
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/webhook-definition/data.yml#/WebhookDefinitionData"
      responses:
        2XX:
          description: A webhook definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/webhook-definition/webhook-definition.yml#/WebhookDefinition"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
    delete:
      operationId: deleteWebhookDefinition
      summary: Delete a webhook definition
      responses:
        204:
          $ref: "#/components/responses/no-content"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /users/me:
    get:
      operationId: getAuthenticatedUser
      summary: Get the authenticated user
      responses:
        200:
          description: The authenticated user
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/user/user.yml#/User"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /users/me/access_tokens:
    post:
      operationId: createPersonalAccessToken
      summary: Create a personal access token
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              $ref: "./openapi/schemas/personal-access-token/request-data.yml#/PersonalAccessTokenRequestData"
      responses:
        2XX:
          description: A personal access token
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/personal-access-token/personal-access-token.yml#/PersonalAccessToken"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /users/me/access_tokens/{access_token_id}:
    parameters:
      - $ref: "#/components/parameters/access_token_id"
    get:
      operationId: getPersonalAccessToken
      summary: Get a single personal access token
      responses:
        200:
          description: Get a single access token
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/personal-access-token/personal-access-token.yml#/PersonalAccessToken"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
  /users/me/access_tokens/{access_token_id}/revoked:
    parameters:
      - $ref: "#/components/parameters/access_token_id"
    put:
      operationId: revokePersonalAccessToken
      summary: Revoke a personal access token
      responses:
        2XX:
          description: A personal access token
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: "./openapi/schemas/personal-access-token/personal-access-token.yml#/PersonalAccessToken"
        401:
          $ref: "#/components/responses/unauthorized"
        default:
          $ref: "#/components/responses/error"
