openapi: '3.0.3'
info:
  title: Contentful Management API
  version: '0.1'
servers:
  - url: https://api.contentful.com
components:
  schemas:
    ErrorSys:
      type: object
      properties:
        type:
          type: string
          enum:
            - Error
        id:
          type: string
      required:
        - type
        - id
    ErrorFields:
      type: object
      properties:
        message:
          type: string
        # details:
        #   type: string
      required:
        - message
    Error:
      allOf:
        - type: object
          properties:
            sys:
              $ref: '#/components/schemas/ErrorSys'
          required:
            - sys
        - $ref: '#/components/schemas/ErrorFields'
    BaseSys:
      type: object
      properties:
        type:
          type: string
      required:
        - type
    BaseSysWithId:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - type
        - id
    BaseSysWithIdAndVersion:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        version:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - type
        - id
        - version
    UserSys:
      allOf:
        - $ref: '#/components/schemas/BaseSysWithIdAndVersion'
        - type: object
          properties:
            type:
              type: string
              enum:
                - User
    UserFields:
      type: object
      properties:
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
      required:
        - email
        - firstName
        - lastName
    User:
      allOf:
        - type: object
          properties:
            sys:
              $ref: '#/components/schemas/UserSys'
          required:
            - sys
        - $ref: '#/components/schemas/UserFields'
    Array:
      type: object
      properties:
        sys:
          type: object
          properties:
            type:
              type: string
              enum:
                - Array
          required:
            - type
        total:
          type: integer 
        skip:
          type: integer
        limit:
          type: integer
      required:
        - sys
        - total
        - skip
        - limit
    AppDefinitionSys:
      allOf:
        - $ref: '#/components/schemas/BaseSysWithId'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AppDefinition
    AppDefinitionFields:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    AppDefinition:
      allOf:
        - type: object
          properties:
            sys:
              $ref: '#/components/schemas/AppDefinitionSys'
          required:
            - sys
        - $ref: '#/components/schemas/AppDefinitionFields'
    AppInstallationSys:
      allOf:
        - $ref: '#/components/schemas/BaseSys'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AppInstallation
    AppInstallationFields:
      type: object
      properties:
        parameters:
          type: object
          additionalProperties: true
    AppInstallation:
      allOf:
        - type: object
          properties:
            sys:
              $ref: '#/components/schemas/AppInstallationSys'
          required:
            - sys
        - $ref: '#/components/schemas/AppInstallationFields'
    EditorInterfaceSys:
      allOf:
        - $ref: '#/components/schemas/BaseSysWithIdAndVersion'
        - type: object
          properties:
            type:
              type: string
              enum:
                - EditorInterface
    EditorInterfaceFields:
      type: object
      properties:
        controls:
          type: array
          items:
            type: object
            properties:
              fieldId:
                type: string
              widgetNamespace:
                type: string
              widgetId:
                type: string
              settings:
                type: object
                additionalProperties: true
            required:
              - fieldId
        sidebar:
          type: array
          items:
            type: object
            properties:
              widgetNamespace:
                type: string
              widgetId:
                type: string
              settings:
                type: object
                additionalProperties: true
              disabled:
                type: boolean
            required:
              - widgetNamespace
              - widgetId
    EditorInterface:
      allOf:
        - type: object
          properties:
            sys:
              $ref: '#/components/schemas/EditorInterfaceSys'
          required:
            - sys
        - $ref: '#/components/schemas/EditorInterfaceFields'
    Organization:
      type: object
      properties:
        sys:
          allOf:
            - $ref: '#/components/schemas/BaseSys'
            - type: object
              properties:
                type:
                  type: string
                  enum:
                    - Organization
        name:
          type: string
      required:
        - sys
        - name
  securitySchemes:
    accessToken:
      type: http
      scheme: bearer
      bearerFormat: Contentful Management API Access Token
  responses:
    no-content:
      description: No content
    unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    error:
      description: An error
      content:
        application/vnd.contentful.management.v1+json:
          schema:
            $ref: '#/components/schemas/Error'
security:
  - accessToken: []
paths:
  /users/me:
    get:
      operationId: getAuthenticatedUser
      summary: Get the authenticated user
      responses:
        200:
          description: The authenticated user
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/User'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
  /organizations:
    get:
      summary: Get all organizations an account has access to
      operationId: getOrganizations
      responses:
        200:
          description: A list of organizations
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Array'
                  - type: object
                    properties:
                      items: 
                        type: array
                        items: 
                          $ref: '#/components/schemas/Organization'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
  /organizations/{organization_id}/app_definitions:
    get:
      operationId: getAppDefinitions
      summary: Get all app definitions
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      responses:
        200:
          description: A list of app definitions
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Array'
                  - type: object
                    properties:
                      items: 
                        type: array
                        items: 
                          $ref: '#/components/schemas/AppDefinition'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
  /organizations/{organization_id}/app_definitions/{app_definition_id}:
    get:
      operationId: getAppDefinition
      summary: Get one app definition
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
        - in: path
          name: app_definition_id
          schema:
            type: string
          required: true
      responses:
        200:
          description: An app definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/AppDefinition'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
  /spaces/{space_id}/environments/{environment_id}/app_installations/{app_definition_id}:
    get:
      operationId: getAppInstallation
      summary: Get one app installation
      parameters:
        - in: path
          name: space_id
          schema:
            type: string
          required: true
        - in: path
          name: environment_id
          schema:
            type: string
          required: true
        - in: path
          name: app_definition_id
          schema:
            type: string
          required: true
      responses:
        200:
          description: An app installation
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/AppInstallation'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
    put:
      operationId: putAppInstallation
      summary: Install or update an app
      parameters:
        - in: path
          name: space_id
          schema:
            type: string
          required: true
        - in: path
          name: environment_id
          schema:
            type: string
          required: true
        - in: path
          name: app_definition_id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AppInstallationFields'
      responses:
        200:
          description: An app installation
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/AppInstallation'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
    delete:
      operationId: deleteAppInstallation
      summary: Uninstall an app
      parameters:
        - in: path
          name: space_id
          schema:
            type: string
          required: true
        - in: path
          name: environment_id
          schema:
            type: string
          required: true
        - in: path
          name: app_definition_id
          schema:
            type: string
          required: true
      responses:
        204:
          $ref: '#/components/responses/no-content'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
  /spaces/{space_id}/environments/{environment_id}/content_types/{content_type_id}/editor_interface:
    get:
      operationId: getEditorInterface
      summary: Get the editor interface for a content type
      parameters:
        - in: path
          name: space_id
          schema:
            type: string
          required: true
        - in: path
          name: environment_id
          schema:
            type: string
          required: true
        - in: path
          name: content_type_id
          schema:
            type: string
          required: true
      responses:
        200:
          description: An editor interface
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/EditorInterface'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
    put:
      operationId: putEditorInterface
      summary: Update the editor interface for a content type
      parameters:
        - in: path
          name: space_id
          schema:
            type: string
          required: true
        - in: path
          name: environment_id
          schema:
            type: string
          required: true
        - in: path
          name: content_type_id
          schema:
            type: string
          required: true
        - in: header
          name: X-Contentful-Version
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/EditorInterfaceFields'
      responses:
        200:
          description: An editor interface
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/EditorInterface'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
