openapi: '3.0.3'
info:
  title: Contentful Management API
  version: '0.1'
servers:
  - url: https://api.contentful.com
components:
  schemas:
    ErrorSysId:
      type: string
      enum:
        - NotFound
    ErrorSys:
      type: object
      properties:
        type:
          type: string
          enum:
            - Error
        id:
          type: string
      required:
        - type
        - id
    ErrorFields:
      type: object
      properties:
        message:
          type: string
        details:
          type: string
      required:
        - message
    Error:
      allOf:
        - type: object
          properties:
            sys:
              $ref: '#/components/schemas/ErrorSys'
          required:
            - sys
        - $ref: '#/components/schemas/ErrorFields'
    BaseSys:
      type: object
      properties:
        type:
          type: string
      required:
        - type
    BaseSysWithId:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - type
        - id
    BaseSysWithIdAndVersion:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        version:
          type: integer
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required:
        - type
        - id
        - version
    OrganizationSys:
      allOf:
        - $ref: '#/components/schemas/BaseSysWithIdAndVersion'
        - type: object
          properties:
            type:
              type: string
              enum:
                - Organization
    OrganizationFields:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    Organization:
      allOf:
        - type: object
          properties:
            sys:
              $ref: '#/components/schemas/OrganizationSys'
          required:
            - sys
        - $ref: '#/components/schemas/OrganizationFields'
    UserSys:
      allOf:
        - $ref: '#/components/schemas/BaseSysWithIdAndVersion'
        - type: object
          properties:
            type:
              type: string
              enum:
                - User
    UserFields:
      type: object
      properties:
        email:
          type: string
        firstName:
          type: string
        lastName:
          type: string
      required:
        - email
        - firstName
        - lastName
    User:
      allOf:
        - type: object
          properties:
            sys:
              $ref: '#/components/schemas/UserSys'
          required:
            - sys
        - $ref: '#/components/schemas/UserFields'
    AppDefinitionSys:
      allOf:
        - $ref: '#/components/schemas/BaseSysWithId'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AppDefinition
    AppDefinitionFields:
      type: object
      properties:
        name:
          type: string
      required:
        - name
    AppDefinition:
      allOf:
        - type: object
          properties:
            sys:
              $ref: '#/components/schemas/AppDefinitionSys'
          required:
            - sys
        - $ref: '#/components/schemas/AppDefinitionFields'
    AppInstallationSys:
      allOf:
        - $ref: '#/components/schemas/BaseSys'
        - type: object
          properties:
            type:
              type: string
              enum:
                - AppInstallation
    AppInstallationFields:
      type: object
      properties:
        parameters:
          type: object
          additionalProperties: true
    AppInstallation:
      allOf:
        - type: object
          properties:
            sys:
              $ref: '#/components/schemas/AppInstallationSys'
          required:
            - sys
        - $ref: '#/components/schemas/AppInstallationFields'
  securitySchemes:
    accessToken:
      type: http
      scheme: bearer
      bearerFormat: Contentful Management API Access Token
  responses:
    no-content:
      description: No content
    unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    error:
      description: An error
      content:
        application/vnd.contentful.management.v1+json:
          schema:
            $ref: '#/components/schemas/Error'
security:
  - accessToken: []
paths:
  /users/me:
    get:
      operationId: getAuthenticatedUser
      summary: Get the authenticated user
      responses:
        200:
          description: The authenticated user
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/User'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
  /organizations/{organization_id}:
    get:
      operationId: getOrganization
      summary: Get an organization an admin or owner has access to
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
      responses:
        200:
          description: An organization
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/Organization'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
  /organizations/{organization_id}/app_definitions/{app_definition_id}:
    get:
      operationId: getAppDefinition
      summary: Get one app definition
      parameters:
        - in: path
          name: organization_id
          schema:
            type: string
          required: true
        - in: path
          name: app_definition_id
          schema:
            type: string
          required: true
      responses:
        200:
          description: An app definition
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/AppDefinition'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
  /spaces/{space_id}/environments/{environment_id}/app_installations/{app_definition_id}:
    get:
      operationId: getAppInstallation
      summary: Get one app installation
      parameters:
        - in: path
          name: space_id
          schema:
            type: string
          required: true
        - in: path
          name: environment_id
          schema:
            type: string
          required: true
        - in: path
          name: app_definition_id
          schema:
            type: string
          required: true
      responses:
        200:
          description: An app installation
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/AppInstallation'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
    put:
      operationId: putAppInstallation
      summary: Install or update an app
      parameters:
        - in: path
          name: space_id
          schema:
            type: string
          required: true
        - in: path
          name: environment_id
          schema:
            type: string
          required: true
        - in: path
          name: app_definition_id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/vnd.contentful.management.v1+json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AppInstallationFields'
      responses:
        200:
          description: An app installation
          content:
            application/vnd.contentful.management.v1+json:
              schema:
                $ref: '#/components/schemas/AppInstallation'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
    delete:
      operationId: deleteAppInstallation
      summary: Uninstall an app
      parameters:
        - in: path
          name: space_id
          schema:
            type: string
          required: true
        - in: path
          name: environment_id
          schema:
            type: string
          required: true
        - in: path
          name: app_definition_id
          schema:
            type: string
          required: true
      responses:
        204:
          $ref: '#/components/responses/no-content'
        401:
          $ref: '#/components/responses/unauthorized'
        default:
          $ref: '#/components/responses/error'
