name: update indirect dependencies

on:
  schedule:
    - cron: "15 9 * * *"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          cache: true
      - name: update indirect dependencies
        run: for x in `go list -f '{{if .Indirect}}{{.Path}}{{end}}' -m all`; do go get -u "$x"; done || true
      - name: go mod tidy
        run: go mod tidy -v
      - name: create pull request
        uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
        with:
          token: ${{ secrets.INDIRECT_DEPENDENCY_UPDATES_GITHUB_TOKEN }}
          commit-message: "chore(deps): bump indirect dependencies"
          title: "chore(deps): bump indirect dependencies"
          branch: "github-action-update-indirect-dependencies"
          body: ''
